.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(104, 168, 168);
    color: #ffffff;
    padding: 15px 40px;
}
 
.logo{
    font-size: 22px;
    font-weight: bold;
}

.menu ul{
    list-style:none ;
    display:flex;
    gap: 25px;
}
menu.li{
    cursor: pointer;
    transition: 0.3s;
}
.menu li:houver{
    color:bisque;
}
 